<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>The Template of game</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="favicon" href="/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/games/template/css/style.css" />
    <script src="/games/template/js/script.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" title="Home">Home</a></li>
                <li><a href="/about" title="About">About</a></li>
                <li><a href="/contact" title="Contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <article>
        <h1>The Template of game</h1>
        <div id="gameContainer" class = "container-content"></div>
    </article>
    <footer>
        <nav>
            Copyright &copy; 2016 - 2024 Helen Lazar
        </nav>
    </footer>
</body>
<script>
window.addEventListener('load', function(event) {
    if(typeof(gameObject) !== 'undefined') {
        gameObject.init();
    }
});
</script>
</html>
